/* Стилизация header*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  background-color: var(--white);
}

.header--grey {
  padding: 0;
  background-color: var(--grey-5);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 110px;
  height: 32px;
  color: var(--black);
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__control {
  display: flex;
  margin-left: 57px;
}

.header__icon {
  width: 24px;
  height: 24px;
}

.header__toggler {
  margin: 0 15px;
}

.header__title {
  padding-top: 41px;
  padding-bottom: 77px;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--black);
}

html[data-theme-dark] .header {
  background: var(--black);
}

html[data-theme-dark] .header .header__logo{
  color: var(--white);
}

html[data-theme-dark] .header .header__title{
  color: var(--grey-3);
}


