/* Стилизация кнопки */
h1,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

.section {
  padding: 0 165px 0 163px;
}

.section__inner {
  display: flex;
}

.section__main-title--btn {
  margin-top: 150px;
  margin-right: 235px;
  margin-bottom: 255px;
}

.section__title {
  display: inline-block;
}

.section_subtitle {
  margin-top: 160px;
  margin-right: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ACB5BD;
  text-transform: uppercase;
  opacity: 40%;
}

.section_subtitle:last-child {
  margin-top: 48px;
  margin-right: 33px;
}

.section__group {
  margin-top: 139px;
  margin-bottom: 136px;
}

.btn {
  display: inline-block;
  margin-right: 33px;
  
}

.btn:last-child {
  margin: 0;
}

.btn li {
  list-style-type: none;
}

.btn__item {
  width: 189px;
  height: 48px;
  margin-bottom: 16px;
  border: 0;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: var(--white);
}

.btn__item--blue {
  background-color: var(--primary);
  transition: background-color .2s linear;
}

.btn__item--blue:hover {
  background-color: var(--blueHover);
}

.btn__item--blue-dis {
  margin-bottom: 0;
  background-color: var(--primary);
  opacity: 50%;
  cursor:not-allowed;
}

.btn__item--purple {
  background-color: var(--secondary);
  transition: background-color .2s linear;
}

.btn__item--purple:hover {
  background-color: var(--purpleHover);
}

.btn__item--purple-dis {
  margin-bottom: 0;
  background-color: var(--secondary);
  opacity: 50%;
  cursor:not-allowed;
}

.btn__item--alternate {
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  color: #495057;
  transition: border .2s linear;
}

.btn__item--alternate:hover {
  border: 1px solid var(--black); 
}

.btn__item--alternate-dis {
  margin-bottom: 0;
  border: 1px solid var(--grey-3);
  background-color: var(--white);
  color: var(--grey-4);
  opacity: .4;
  cursor:not-allowed;
}
