/* Стилизация кнопки */
.btn {
  padding: 15px 10px;
  border: none;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--white);
  cursor: pointer;
  text-align: center;
}

.btn--large {
  width: 100%;
}

.btn--small {
  width: 15%;
}

.btn--preview {
  padding: 7px 10px;
}

.btn--primary {
  background-color: var(--primary);
  transition: background-color .2s linear;
}

.btn--primary:hover {
  background-color: var(--blueHover);
}

.btn--secondary {
  background-color: var(--secondary);
  transition: background-color .2s linear;
}

.btn--secondary:hover {
  background-color: var(--purpleHover);
}

.btn--disabled {
  opacity: 50%;
  pointer-events: none;
  cursor: default;
}

.btn--alternate {
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  color: #495057;
  transition: border .2s linear;
}

.btn--alternate:hover {
  border: 1px solid var(--black); 
}

.btn--alternate-disabled {
  opacity: 50%;
  pointer-events: none;
  cursor: default;
}

/* Media query */

@media (max-width: 768px) {

  .btn--small {
    width: auto;
  }
}

