/* Sidebar */
.sidebar__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.sidebar__title--grey {
  color: var(--grey-3);
}

.sidebar__title {
  margin-bottom: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  font-weight: normal;
  color: var(--title-color);
}

.sidebar__link {
  margin-bottom: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-primary);
  cursor: pointer;
}

.sidebar__link--active {
  color: var(--notification);
}

.sidebar__link:hover {
  color: var(--notification);
}
