/* Стилизация карточек */
.card {
  width: calc(33.333333% - 30px);
  margin: 15px;
  padding: 32px 25px;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 rgba(var(--black), .05);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.card__content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.card__title {
  margin: 25px 0 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.card__suptitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 400;
  color: var(--grey-4);
  text-align: center;
}
