/* Стилизация карточек */

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-top: 65px;
  padding-bottom: 174px;
}

.card__item {
  width: calc(33.333333% - 30px);
  margin: 15px;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 rgba(var(--black), .05);
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 367px;
  margin-bottom: 30px;
}

.card__title {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}