
/* Стилизация аккордеона */
.accordion {
  width: 100%;
  max-width: 730px;
}

.accordion__item {
  margin-bottom: 8px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__header {
  position: relative;
  padding: 24px 0;
  padding-left: 32px;
  
}

.accordion__title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
}

.accordion__arrow {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 1;
  cursor: pointer;
}

.accordion__item[open]>.accordion__header {
  padding-bottom: 16px;
}

.accordion__item[open]>.accordion__header::after  {
  transform: rotate(135deg);
}

.accordion__text {
  padding: 0 32px 32px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grey-4);
}