/* Стилизация toggler */
.toggler__input {
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  outline: none;
  position: absolute;
}

.toggler__state {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggler__state--disabled {
  opacity: .5;
  pointer-events: none;
}

.toggler__control {
  width: 52px;
  height: 28px;
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  transition: background-color 300ms linear;
  position: relative;
}

.toggler__icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--grey-2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  transition: transform 300ms linear;
}

.toggler__title {
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
}

.toggler--disabled {
  pointer-events: none;
  cursor: default;
}

.toggler__input:checked ~ .toggler__state .toggler__control {
  background-color: var(--blue-2);
  border-color: var(--blue-2); 
}

.toggler__input:checked ~ .toggler__state .toggler__icon {
  background-color: var(--white);
  transform: translate(0, -50%);
  transition: transform 300ms linear;
}

.toggler__input:focus ~ .toggler__state .toggler__control {
  border-color: var(--blue-2);
}
