/* Стилизация modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;


  display: none;
}

.modal--preview { /* модификатор для модалки в карточке */
  position: static;
  display: block;
  background: none;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.modal__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.modal__content {
  width: 400px;
  padding: 30px 40px;
  border-radius: 8px;
  background-color: var(--white);
}

.modal__content--preview {
  padding: 15px 20px;
}

.modal__content--padding { /* внутренний отступы для модалки в карточки */
  padding: 15px 20px;
}

.modal__header {
  position: relative;
}

.modal__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 100%;
  z-index: 1;

  cursor: pointer;
}

.modal__input {
  margin-bottom: 15px;
}
