/* Стилизация modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;


  display: none;
}

.modal--preview { /* модификатор для модалки в карточке */
  position: static;
  display: block;
  width: 300px;
  height: 219px;
  background: var(--grey-2);
  border: 1px solid var(--grey-2);
  border-radius: 8px;
}

.modal__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.modal__content {
  width: 400px;
  padding: 30px 40px;
  background-color: var(--white);
  border-radius: 8px;
}

.modal--preview .modal__content { /* внутренний отступы для модалки в карточки */
  width: 240px;
  padding: 15px 20px;
}

.modal__header {
  position: relative;
}

.modal__title {
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--blue-1);
}

.modal__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 100%;
  z-index: 1;

  cursor: pointer;
}

.modal--preview .modal__close {
  top: -10px;
  left: 98%;
  cursor: default;
}

.modal__input {
  margin-bottom: 15px;
}

.modal--preview .modal__input {
  margin-bottom: 10px;
}
