/* Стилизация гистограммы*/
.histogram {
  width: 100%;
  padding: 16px 24px 24px;
  border: 1px solid #ACB5BD;
  border-radius: 8px;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  font-family: 'Inter', sans-serif;
}

.histogram__text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary);
  opacity: 80%;
}

.histogram__link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--blue);
  text-decoration: none;
}

.histogram__link:hover {
  text-decoration: underline;
}

.histogram__title {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--title-color);
}

.histogram__bars {
  display: flex;
  align-items: flex-end;
  height: 50px;
}

.histogram__item {
  width: 3.333333333%;
  height: 50px;
  margin-right: 1px;
  background-color: var(--blue);
  animation: crescendo 600ms  1 ease-in forwards;
}

@keyframes crescendo {
  0%   {height: 0;}
  100% {transform: scaleY(1);}
}

.histogram__item:hover {
  opacity: 80%;
}

.histogram__item--1 {
  height: 50%;
}

.histogram__item--2 {
  height: 35%;
}

.histogram__item--3 {
  height: 74%;
}

.histogram__item--4,
.histogram__item--15,
.histogram__item--6 {
  height: 100%;
}

.histogram__item--7 {
  height: 89%;
}

.histogram__item--8,
.histogram__item--19,
.histogram__item--21 {
  height: 54%;
}

.histogram__item--11,
.histogram__item--25,
.histogram__item--23,
.histogram__item--14 {
  height: 69%;
}

.histogram__item--5,
.histogram__item--26,
.histogram__item--30,
.histogram__item--18 {
  height: 34%;
}

.histogram__item--9,
.histogram__item--10,
.histogram__item--20 {
  height: 36%;
}

.histogram__item--22 {
  height: 27%; 
}

.histogram__item--13 {
  height: 88%;
}

.histogram__item--24,
.histogram__item--12,
.histogram__item--16 {
  height: 71%;
}

.histogram__item--27 {
 height: 51%;
}

.histogram__item--28 {
  height: 99%;
}

.histogram__item--29 {
  height: 25%;
}

.histogram__item--17 {
  height: 45%;
}
