body {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}

span {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header__title {
  padding-top: 96px;
  padding-bottom: 77px;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--black);
}

.main {
  background-color: var(--grey-5);
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-top: 65px;
  padding-bottom: 174px;
}

.card__item {
  width: calc(33.333333% - 30px);
  margin: 15px;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 rgba(var(--black), .05);
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 367px;
  margin-bottom: 30px;
}

.card__title {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.footer {
  padding-top: 71px;
}

.footer__title {
  margin-bottom: 32px;
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.footer__text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  text-align: center;
}


