/* Стилизация аватара*/
.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.avatar--main {
  width: 102px;
  height: 102px;
}

.avatar--skeleton {
  width: 64px;
  height: 64px;
  background-color: var(#DDE2E5);
}

.avatar--large {
  width: 160px;
  height: 160px;
}