/* Стилизация аватара*/
@import '../../assets/css/mixin';
.avatar {
    border-radius: 50%;
    object-fit: cover;

    &--main {
        @include size(102px, 102px);
    }

    &--skeleton {
        @include size(64px, 64px);
        background-color: var(--grey-2);
    }

    &--large {
        @include size(106px, 106px);
    }
}




