/* Стилизация header*/

.header {
  background-color: var(--white);
}

.header--grey {
  background-color: var(--grey-5);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
}

.header__title {
  padding-top: 96px;
  padding-bottom: 77px;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--black);
}

