@import '../fonts/fonts.css';

/* Reset */

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

:root {
    --white: #ffffff;
    --white-1: #E2E6E8;
    --white-2: #F3F5F5;
    --white-3: #E3E7EA;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --blue-1: #334D6E;
    --blue-2: #4263EB;
    --blue-3: #A0B1F5;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;
    --grey-6: #90A0B7;
    --red: #F03D3E;
    

    --blueHover: #2342C0;
    --purpleHover: #5028C6;
    
    --error: var(--red);
    --success: var(--blue);
    --notification: #D84910;

    --primary: var(--blue);
    --secondary: var(--purple);

}

* {
    font-family: 'Roboto', sans-serif;
}

/* Container */
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

