@import '../fonts/fonts.css';

/* Reset */

body {
  margin: 0;
  padding: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

pre{
  margin: 0;
  padding: 0;
}

code{
  margin: 0;
  padding: 0;
}


/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

:root {
    --white: #ffffff;
    --white-1: #E2E6E8;
    --white-2: #F3F5F5;
    --white-3: #E3E7EA;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --blue-1: #334D6E;
    --blue-2: #4263EB;
    --blue-3: #A0B1F5;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;
    --grey-6: #90A0B7;
    --red: #F03D3E;
    

    --blueHover: #2342C0;
    --purpleHover: #5028C6;
    
    --error: var(--red);
    --success: var(--blue);
    --notification: #D84910;

    --primary: var(--blue);
    --secondary: var(--purple);

    --nav-color: var(--grey-3);
    --black-bg: var(--black);
    --text-primary: var(--black);
    --grey-bg: var(--grey-4);
    --active-text-color: var(--black);
    --white-bg: var(--white);
    --text-color: var(--grey-4);
    --border-color: var(--grey-2);
    --main-bg: var(--grey-5);
    --title-color: var(--black);
    --blue-bg: var(--blue-1);
    --color-icon: var(--black);
    --color-day: var(--blue-bg);
    --icon-color-sun-tm: var(--grey-4);
    --icon-color-moon-tm: var(--grey-3);
    --icon-color-sun: var(--grey-4);
    --icon-color-moon: var(--grey-3);
    --icon-color-menu: var(--grey-4);
}


html[data-theme-dark] {
  --black-bg: var(--white);
  --text-primary: var(--grey-3);
  --active-text-color: var(--white);
  --grey-bg: var(--grey-3);
  --white-bg: var(--black);
  --text-color: var(--white);
  --border-color: var(--white);
  --main-bg: var(--grey-4);
  --notification: #D84910;
  --title-color: var(--grey-3);
  --blue-bg: var(--grey-3);
  --color-icon: var(--blue-2);
  --color-day: var(--white);
  --icon-color-moon: var(--grey-1);
  --icon-color-sun: var(--grey-4);
  --icon-color-sun-tm: var(--grey-3);
  --icon-color-moon-tm: var(--black);
  --icon-color-menu: var(--black);
}

* {
    font-family: 'Roboto', sans-serif;
}

/* Container */
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

