/* Стилизация радио баттон */
.radio__input {
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  outline: none;
  position: absolute;
}

.radio__state {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio__state--disabled {
  opacity: .5;
  pointer-events: none;
}

.radio__control {
  width: 28px;
  height: 28px;
  border: 1px solid var(--grey-2);
  border-radius: 50%;

  position: relative;
}

.radio__control--disabled {
  background-color: var(--grey-2);
}

.radio__icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--blue-2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
}

.radio__title {
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
}

.radio__input:checked ~ .radio__state .radio__control {
  border: 2px solid var(--blue-2);
}

.radio__input:checked ~ .radio__state .radio__icon {
  display: block;
}

.radio__input:checked ~ .radio__state .radio__title {
  text-decoration: none;
}
