/* Стилизация радио баттон */

@mixin font {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    height: 1.5;
    font-weight: 400;
}

.radio__input {
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
    outline: none;
    position: absolute;

    &:checked ~ .radio__state .radio__control {
        border: 2px solid var(--blue-2);
    }
  
    &:checked ~ .radio__state .radio__icon {
        display: block;
    }
  
    &:checked ~ .radio__state .radio__title {
        text-decoration: none;
    }
  
}

.radio__state {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.radio__control {
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    position: relative;

    &--disabled {
        background-color: var(--grey-2);
    }
}

.radio__icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--blue-2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.radio__title {
    margin-left: 12px;
    @include font;
    color: var(--text-color);
}

