/* Стилизация календаря */
.calendar {
  width: 100%;
  max-width: 320px;
  padding: 28px 30px 40px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.calendar__title {
  margin-bottom: 24px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--blue-bg);
  text-align: center;
}

.calendar__wrapper {
  position: relative;
  padding-bottom: 100%;
}

.calendar__inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: var(--blue-bg);
  text-align: center;
}

.calendar__item--day {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.4;
  color: var(--grey-6);
}

.calendar__item--active {
  background-color: var(--blue-2);
  color: var(--white);
}

.calendar__item--between-active {
  background-color: var(--blue-3);
  color: var(--color-day);
}

.calendar__item--number {
  margin-bottom: 0;
}

.calendar--preview {
  width: 100%;
  max-width: 202px;
  padding: 15px 19px 10px;
}

.calendar--preview .calendar__title {
  margin-bottom: 15px;
  font-size: 13px;
}

.calendar--preview .calendar__item {
  margin-bottom: 0;
  font-size: 10px;
}

.calendar--preview .calendar__item--day {
  margin-bottom: 0;
  font-size: 9px;
}

.calendar--template {
  padding: 25px 30px 25px;
}

.calendar--template .calendar__title {
  margin-bottom: 15px;
}

.calendar--template .calendar__item--day {
  margin-bottom: 0px;
}

.calendar--template .calendar__item {
  margin-bottom: 0px;
}

.calendar--template .calendar__item--active{
  padding: 0px;
}

.calendar--template .calendar__item--between-active{
  padding: 0px;
}
