/* Стилизация скелетона */ 
.skeleton {
  width: 100%;
  padding: 24px 40px 32px 24px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.skeleton--middle {
  width: 50%;
}

.skeleton__header {
  display: flex;
  margin-bottom: 24px;
}

.skeleton__avatar {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--white-1) 38.47%, var(--white-2) 56.48%, var(--white-3) 77.5%, var(--grey-2) 102.52%);  
  animation: crd 2s ease-in-out infinite forwards;
  background-size: 200%;
  border-radius: 50%;
}

.skeleton__title {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 8px;
}

.skeleton__line {
  height: 20px;
  margin-bottom: 8px;
  background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--white-1) 38.47%, var(--white-2) 56.48%, var(--white-3) 77.5%, var(--grey-2) 102.52%);  
  animation: crd 2s ease-in-out infinite forwards;
  background-size: 200%;
}

@keyframes crd {
  0% {
    opacity: .5;
    background-position: 100%;
  }

  100% {
    opacity: 1;
  }

}

.skeleton__line--short {
  width: 39%;
}

.skeleton__line--long {
  width: 59%;
}

.skeleton__line:last-child {
  margin-bottom: 0;
}

.skeleton__content {
  width: 100%;
}

@media (max-width: 575px) {

  .skeleton--middle {
    width: auto;
  }
  
}
