/* Стилизация tooltip */
.tooltip {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
}

.tooltip__answer {
  padding: 13px 21px 8px;
  background-color: var(--blue-2);
  border-radius: 10px;

  position: relative;
  transform: translate(0, -12px);

  opacity: 0;

  transition: opacity .4s linear;
}

.tooltip__answer::after {
  content: "";
  border: 14px solid transparent;
  border-top: 6px solid var(--blue-2);

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 100%);
}

.tooltip__answer--visible {
  opacity: 1;
}

.tooltip__text {
  font-family: "Inter", san-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color: var(--grey-2);
}

.tooltip__question {
  width: 26px;
  height: 30px;
  cursor: pointer;
 }

.tooltip__question:hover ~ .tooltip__answer {
 opacity: 1;
}





