/* Стилизация чекбокса */
.checkbox__input {
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  outline: none;
  position: absolute;
}

.checkbox__state {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.checkbox__control {
  width: 28px;
  height: 28px;
  border: 1px solid var(--grey-2);
  border-radius: 4px;

  position: relative;
}

.checkbox__control--disabled {
  background-color: var(--grey-2);
}

.checkbox__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
}

.checkbox__title {
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
}

.checkbox--disabled {
  pointer-events: none;
  cursor: default;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control
{
  background-color: var(--blue-2);
  border-color: var(--blue-2); 
  animation: shadow 600ms  1 ease-in forwards;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
  display: block;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__control {
  border-color: var(--blue-2);
}

@keyframes shadow {
  0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(66, 99, 235, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(66, 99, 235, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(66, 99, 235, 0);
	}
}




