@import '../../assets/css/mixin';

.section {
    background-color: var(--white-bg);

    &__title {
        @include margin(25px, 50px);
        @include font($font-inter, 50px, 500, 1.3);
        color: var(--text-primary);
        background-color: var(--white-bg);
        @include media(middle) {
            font-size: 38px;
        }
        @include media(small) {
            @include margin(10px, 25px);
            font-size: 28px;
        }
    }
}




