/* Стилизация страницы компонента*/
.template {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 36px 0;
  min-height: 100vh;
  background-color: var(--main-bg);
}

.template__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
}

.template__logo {
  width: 110px;
  height: 32px;
  color: var(--black-bg);
}

.template__menu {
  display: flex;
  align-items: center;
}

.template__control {
  display: flex;
  align-items: center;
}

.template__icon {
  width: 24px;
  height: 24px;
}

.template__icon--sun {
  color: var(--icon-color-sun-tm);
}

.template__icon--moon {
  color: var(--icon-color-moon-tm);
}

.template__toggler {
  margin: 0 15px;
}

.template__main {
  display: grid;
  grid-template-columns: 299px 1fr;
}

.template__section {
  width: 100%;
  background-color: var(--white-bg);
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(var(--black), .05);
  padding: 32px;
  overflow:hidden;
}

.template__section-title {
  margin-bottom: 30px;
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  line-height: 1.4;
  font-weight: normal;
  color: var(--grey-bg);
}

.template__custom-elements {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: 30px;
  margin-bottom: 30px;
}

.template__section-element {
  margin-bottom: 30px;
}

.template__footer {
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg); 
}

.template__text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  text-align: center;
  color: var(--grey-3);
}

/* Media query */
@media (max-width: 768px) {
  
  .template {
    gap: 0;
  }

  .template__main {
    grid-template-columns: auto;
  }

  aside {
    display: none;
  }

  .template__menu {
    display: none;
  }

  .template__logo-link {
    display: flex;
    margin: 0 auto;
  }

  .template__section {
    padding-right: 0;
    padding-left: 0;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 480px) {
  
  .template__custom-elements {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-flow: initial;
  }
}


