/* Стилизация мобильного меню */
.burger {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 16px;
  background-color: var(--grey-5);

  position: fixed;
}

.burger__icon {
  width: 40px; 
  padding: 20px 0;
  border: none;
  color: transparent;
  background: none;
  cursor: pointer;
  
  position: relative;
}

.burger__icon:focus {
  outline: none;
}

.burger__icon-line {
  display: block;
  width: 24px; 
  border: 2px solid var(--grey-4);
  border-radius: 8px;
  
  position: absolute;
  left: 0;
}

.burger__icon-line::before,
.burger__icon-line::after {
  content: '';
  width: 24px; 
  border: 2px solid var(--grey-4);
  border-radius: 8px;

  position: absolute;
  left: -2px;
  z-index: 1;
}

.burger__icon-line::before {
  top: 6px;
}

.burger__icon-line::after {
  bottom: 6px;
}

.burger__active {
 border: none;
}

.active::before {
  top: -2px;
  transform: rotate(45deg);
  transition: transform .1s linear;
}

.active::after {
  top: -2px;
  transform: rotate(-45deg);
  transition: transform .1s linear;
}

.burger__line {
  width: 100%;
  margin: 24px 0;
  border: 1px solid var(--grey-2);
}

.burger__menu {
  display: none;
}

.burger[data-open] {
  display: block;
}

.burger__night-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--grey-4);
}