/* Стилизация мобильного меню */
.burger {
  flex-direction: column;
  background-color: var(--grey-5);
  position: fixed;
  z-index: 4000;
  display: none;
}

.burger__icon {
 width: 24px;
 height: 24px;
 cursor: pointer;
}

.burger__icon-close {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 1;

  display: none;
}

.burger__active {
  display: block;
}

.burger__no-active {
  display: none;
}

.burger__line {
  width: 100%;
  margin: 24px 0;
  border: 1px solid var(--grey-2);
}

.burger__menu {
  display: none;
}

.burger__menu[data-open] {
  display: block;
  padding: 16px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.burger__night-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--grey-4);
}

@media (max-width: 575px) {
 
  .burger {
    display: flex;
    background-color: var(--white);
  }

  .burger__menu[data-open] {
    background-color: var(--white);
  }
}