/* Стилизация мобильного меню */
.burger {
  flex-direction: column;
  display: none;
}

.burger__icon {
 width: 24px;
 height: 24px;
 cursor: pointer;
 color: var(--grey-4);
}

.burger__icon.burger__icon--black{
  color: var(--icon-color-menu);
}

.burger__icon-close {
  display: none;
}

.burger__active {
  display: block;
}

.burger__no-active {
  display: none;
}

.burger__line {
  width: 100%;
  margin: 24px 0;
  border: 1px solid var(--grey-2);
}

.burger__menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  padding: 0 15px;
  background-color: var(--white-bg);
  transform: translateX(-100vw);
  transition: transform 200ms ease-in-out;
}

.burger__menu--grey {
background-color: var(--main-bg);
}

.burger__menu[data-open] {
  transform: translateX(0);
}

.burger__night-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--grey-4);
}

@media (max-width: 768px) {
 
  .burger {
    display: block;
  }
}