/* Стилизация табов */
.tabs {
  background-color: var(--white-bg);
}

.tabs__input {
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  outline: none;
  position: absolute;
}

.tabs__menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tabs__menu::-webkit-scrollbar {
  display: none;
}

.tabs__label {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--nav-color);
  transition: color .1s linear;
  white-space: nowrap;
}

.tabs__label:last-child {
  margin-right: 0;
}

.tabs__label::after {
  content: '';
  border: 2px solid var(--active-text-color);
  border-radius: 1px;
  background-color: var(--black-bg);
  transform: scale(0);
  transition: transform 300ms ease-in-out;
  margin-top: 5px;
}

.tabs__line {
  border-top: 1px solid var(--grey-2);
}

.tabs__content {
  padding: 50px 0;
  background-color: var(--main-bg);
}

.tabs__content--template {
  padding: 10px 0;
  background-color: var(--white-bg);
}

.tabs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.tabs__title {
  margin: 50px 0;
  font-family: 'Inter', san-serif;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--grey-3);
}

.tabs__title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--black);
}

.tabs__title-button--grey {
  color: var(--grey-3); 
}

.tabs__group-buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 30px;
  margin-bottom: 30px;
}

.tabs__custom-elements {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: 30px;
}

.tabs__input:hover ~ .container .tabs__menu .tabs__label {
  cursor: pointer;
}

#tab-1:hover ~ .container .tabs__menu label[for="tab-1"].tabs__label,
#tab-2:hover ~ .container .tabs__menu label[for="tab-2"].tabs__label,
#tab-3:hover ~ .container .tabs__menu label[for="tab-3"].tabs__label,
#tab-4:hover ~ .container .tabs__menu label[for="tab-4"].tabs__label {
  color: var(--grey-4);
}

#tab-1:checked ~ .container .tabs__menu label[for="tab-1"].tabs__label,
#tab-2:checked ~ .container .tabs__menu label[for="tab-2"].tabs__label,
#tab-3:checked ~ .container .tabs__menu label[for="tab-3"].tabs__label,
#tab-4:checked ~ .container .tabs__menu label[for="tab-4"].tabs__label {
  color: var(--active-text-color);
} 

#tab-1:checked ~ .container .tabs__menu label[for="tab-1"].tabs__label::after,
#tab-2:checked ~ .container .tabs__menu label[for="tab-2"].tabs__label::after,
#tab-3:checked ~ .container .tabs__menu label[for="tab-3"].tabs__label::after,
#tab-4:checked ~ .container .tabs__menu label[for="tab-4"].tabs__label::after {
  transform: scale(1);
}

#tab-1:hover ~ .container .tabs__menu label[for="tab-1"].tabs__label::after,
#tab-2:hover ~ .container .tabs__menu label[for="tab-2"].tabs__label::after,
#tab-3:hover ~ .container .tabs__menu label[for="tab-3"].tabs__label::after,
#tab-4:hover ~ .container .tabs__menu label[for="tab-4"].tabs__label::after {
  transform: scale(1);
}

#tab-1:checked ~  .tabs__content--tab-2,
#tab-1:checked ~  .tabs__content--tab-3,
#tab-1:checked ~  .tabs__content--tab-4 {
  display: none;
}

#tab-2:checked ~  .tabs__content--tab-1,
#tab-2:checked ~  .tabs__content--tab-3,
#tab-2:checked ~  .tabs__content--tab-4 {
  display: none;
}

#tab-2:checked ~  .tabs__content--tab-2 {
  display: block;
}

#tab-3:checked ~ .tabs__content--tab-1,
#tab-3:checked ~ .tabs__content--tab-2,
#tab-3:checked ~ .tabs__content--tab-4 {
  display: none;
}

#tab-3:checked ~ .tabs__content--tab-3{
  display: block;
}

#tab-4:checked ~ .tabs__content--tab-1,
#tab-4:checked ~ .tabs__content--tab-2,
#tab-4:checked ~ .tabs__content--tab-3 {
  display: none;
}

#tab-4:checked ~ .tabs__content--tab-4 {
  display: block;
}

/* Media query */

@media (max-width: 768px) {

  .tabs__content {
    padding: 40px 0;
  }

  .tabs__group-buttons {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  
  .tabs__label {
    flex-wrap: nowrap;
    margin-right: 15px;
  }

  .tabs__content {
    padding: 30px 0;
  }

  .tabs__title {
    margin: 40px 0;
    font-size: 20px;
  }

  .tabs__group-buttons {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto); 
    gap: 20px;
  }

  .tabs__custom-elements {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-flow: initial;
  }
}