/* Стилизация табов */
.tabs__input {
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  outline: none;
  position: absolute;
}

.tabs__menu {
  display: flex;
}

.tabs__label {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--grey-3);
  transition: color .1s linear;
}

.tabs__label::after {
  content: '';
  border: 5px solid #000;
  transform: scale(0);
  transition: scale .2s linear;
}

.tabs__line {
  border-top: 1px solid var(--grey-2);
}

.tabs__content {
  padding: 50px 0;
  background-color: var(--grey-5);
}

.tabs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.tabs__title {
  margin: 50px 0;
  font-family: 'Inter', san-serif;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--grey-3);
}

.tabs__title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--black);
}

.tabs__title-button--grey {
  color: var(--grey-3); 
}

.tabs__group-buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 30px;
}

.tabs__custom-elements {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 30px;
}

.tabs__input:hover ~ .container .tab__menu .tab__label {
  cursor: pointer;
}

#all-tabs:hover ~ .container .tab__menu label[for="all-tabs"].tab__label,
#elements:hover ~ .container .tab__menu label[for="elements"].tab__label,
#containers:hover ~ .container .tab__menu label[for="containers"].tab__label,
#templates:hover ~ .container .tab__menu label[for="templates"].tab__label {
  color: var(--grey-4);
}

#all-tabs:checked ~ .container .tab__menu label[for="all-tabs"].tab__label,
#elements:checked ~ .container .tab__menu label[for="elements"].tab__label,
#containers:checked ~ .container .tab__menu label[for="containers"].tab__label,
#templates:checked ~ .container .tab__menu label[for="templates"].tab__label {
  color: var(--black);
} 

#all-tabs:checked ~ .container .tab__menu label[for="all-tabs"].tab__label::after,
#elements:checked ~ .container .tab__menu label[for="elements"].tab__label::after,
#containers:checked ~ .container .tab__menu label[for="containers"].tab__label::after,
#templates:checked ~ .container .tab__menu label[for="templates"].tab__label::after {
  transform: scale(0.5);
}

#all-tabs:checked ~  .tab__content--elements,
#all-tabs:checked ~  .tab__content--container,
#all-tabs:checked ~  .tab__content--template {
  display: none;
}

#elements:checked ~  .tab__content--all-tabs,
#elements:checked ~  .tab__content--container,
#elements:checked ~  .tab__content--template {
  display: none;
}

#elements:checked ~  .tab__content--elements {
  display: block;
}

#containers:checked ~  .tab__content--all-tabs,
#containers:checked ~ .tab__content--elements,
#containers:checked ~ .tab__content--template {
  display: none;
}

#containers:checked ~ .tab__content--container {
  display: block;
}

#templates:checked ~ .tab__content--all-tabs,
#templates:checked ~ .tab__content--elements,
#templates:checked ~ .tab__content--container {
  display: none;
}

#templates:checked ~ .tab__content--template {
  display: block;
}
