/* Стилизация полей */
.input {
  display: block;
  margin-bottom: 40px;
}

.input--small {
  display: inline-block;
  width: 40%;
}

.input__state {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid var(--border-color);
  background-color: var(--white-bg);
  border-radius: 8px;
  outline: none;
  appearance: none;
}

.input__state--success {
  border: 1px solid var(--blue-2);
}

.input__state--invalid{
  border: 1px solid var(--red);
}

.input__state--preview {
  padding: 10px;
  pointer-events: none;
  box-shadow: -1px 1px 4px 0px rgba(221, 226, 229, 0.5);
}

.input__state--disabled {
  pointer-events: none;
  background-color: var(--grey-2);
}

.input__title {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--grey-3);
  text-transform: uppercase;
}

.input__field {
  position: relative;
}

.input__icon {
  display: block;
  width: 24px;
  height: 24px;
  

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.input__subtitle {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--grey-3);

  position: absolute;
}

.input__icon--error {
  color: var(--error);
}

.input__icon--success {
  color: var(--success);
}

.input__state:not(.input__state--invalid):focus{
  border: 1px solid var(--blue-2); 
}

@media (max-width: 480px) {
  
  .input--small {
    width: 100%;
  }
}

