/* Стилизация полей */
.input {
  display: inline-flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.input--small {
  width: 40%;
}

.input__state {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid var(--grey-2);
  border-radius: 8px;
  outline: none;
  appearance: none;
}

.input__state--preview {
  padding: 10px;
  pointer-events: none;
  box-shadow: -1px 1px 4px 0px rgba(221, 226, 229, 0.5);
}

.input__state--disabled {
  pointer-events: none;
  background-color: var(--grey-2);
}

.input__state::placeholder {
  color: var(--grey-2);
  font-size: 20px;
  line-height: 1.3;
  font-weight: lighter;
}

.input__title {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--grey-3);
  text-transform: uppercase;
}

.input__field {
  position: relative;
}

.input__icon {
  display: block;
  width: 24px;
  height: 24px;
  

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  
  display: none;
}

.input__subtitle {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--grey-3);
}

.input__icon--error {
  color: var(--error);
}

.input__icon--success {
  color: var(--success);
}

.input__state:focus {
  border: 1px solid var(--blue-2);
}

.input__state--invalid:focus ~ .input__icon {
 display: block;
}

.input__state--success:focus ~ .input__icon {
  display: block;
}

.input__state--invalid:focus {
  border: 1px solid var(--red);
}

