/* Стилизация полей */
.text__input {
  width: 350px;
  padding-left: 24px;
  padding-top: 17px;
  padding-bottom: 13px;
  border: 1px solid var(--grey-2);
  border-radius: 8px;
  outline: none;
}

.text__input--disabled {
  pointer-events: none;
  background-color: var(--grey-2);
}

.text__input::placeholder {
  color: var(--grey-2);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  font-weight: lighter;
}

.text__title {
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--grey-3);
}

.text__field {
  position: relative;
}

.text__icon {
  display: block;
  width: 24px;
  height: 24px;
  

  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-150%, -50%);
  
  display: none;
}

.text__icon--error {
  color: var(--error);
}

.text__icon--success {
  color: var(--success);
}

.text__input:focus {
  border: 1px solid var(--blue-2);
}

.text__input--invalid:focus ~ .text__icon {
 display: block;
}

.text__input--success:focus ~ .text__icon {
  display: block;
}

.text__input--invalid:focus {
  border: 1px solid var(--red);
}

