// Стилизация полей 
@import '../../assets/css/mixin';
.input {
    display: block;
    margin-bottom: 40px;

    &--small {
        display: inline-block;
        width: 40%;
        @include media(small) {
            width: 100%;
        }
    }

    &__state {
        width: 100%;
        padding: 15px 10px;
        border: 1px solid var(--border-color);
        background-color: var(--white-bg);
        border-radius: 8px;
        outline: none;
        appearance: none;

        &--success {
            border: 1px solid var(--blue-2);
        }
  
        &--invalid{
            border: 1px solid var(--red);
        }
  
        &--preview {
            padding: 10px;
            pointer-events: none;
            box-shadow: -1px 1px 4px 0px rgba(221, 226, 229, .5);
        }
  
        &--disabled {
            pointer-events: none;
            background-color: var(--grey-2);
        }

        &:not(.input__state--invalid):focus{
            border: 1px solid var(--blue-2); 
        }
    }

    &__title {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        font-weight: 500;
        color: var(--grey-3);
        text-transform: uppercase;
    }

    &__field {
        position: relative;
    }

    &__icon {
        display: block;
        @include size(24px, 24px);
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);

        &--error {
            color: var(--error);
        }
  
        &--success {
            color: var(--success);
        }
    }

    &__subtitle {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        color: var(--grey-3);
        position: absolute;
    }
}
